CYJH_OrderSystem.Admin/Web References/ConServer/TcAdminChkol.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetAdminList">
        <s:complexType />
      </s:element>
      <s:element name="GetAdminListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAdminListResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAdminListSoapIn">
    <wsdl:part name="parameters" element="tns:GetAdminList" />
  </wsdl:message>
  <wsdl:message name="GetAdminListSoapOut">
    <wsdl:part name="parameters" element="tns:GetAdminListResponse" />
  </wsdl:message>
  <wsdl:portType name="TcAdminChkolSoap">
    <wsdl:operation name="GetAdminList">
      <wsdl:input message="tns:GetAdminListSoapIn" />
      <wsdl:output message="tns:GetAdminListSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TcAdminChkolSoap" type="tns:TcAdminChkolSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAdminList">
      <soap:operation soapAction="http://tempuri.org/GetAdminList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TcAdminChkolSoap12" type="tns:TcAdminChkolSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAdminList">
      <soap12:operation soapAction="http://tempuri.org/GetAdminList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TcAdminChkol">
    <wsdl:port name="TcAdminChkolSoap" binding="tns:TcAdminChkolSoap">
      <soap:address location="http://220.162.238.234:8383/ConServer/TcAdminChkol.asmx" />
    </wsdl:port>
    <wsdl:port name="TcAdminChkolSoap12" binding="tns:TcAdminChkolSoap12">
      <soap12:address location="http://220.162.238.234:8383/ConServer/TcAdminChkol.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>